body{
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.TiBKgNkdinpAA7VzwbXDfgHaE7%26pid%3DApi&f=1');
  background-size: cover;
  background-repeat: no-repeat;
}
#search{
  margin-bottom: 10px;
}
.table{
  display: none;
}
.docInfo{
  display: none;
}
.specialties{
  list-style: none;
}
.input{
  background-color: rgba(245, 241, 235, 0.536);
}